{% extends 'base.html.twig' %}

{% block title %}Ajouter un projet{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="../{{ asset('fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="../{{ asset('css/freelancer.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    {{ parent() }}
    <header class="masthead"></header>
        {{ form_start(projectForm) }}
        {{ form_row(projectForm.title) }}
        {{ form_row(projectForm.content) }}
        {{ form_row(projectForm.url) }}
        {{ form_row(projectForm.image) }}

        <button type="submit" class="btn btn-primary">Créer</button>
        {{ form_end(projectForm) }}
    </header>

{% endblock %}