{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    {{ parent() }}
    <header class="masthead text-center">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </header>
        <nav>
            <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="true">Mes infos</a>
                <a class="nav-item nav-link" id="nav-competence-tab" data-toggle="tab" href="#nav-competence" role="tab" aria-controls="nav-competence" aria-selected="false">Mes compétences</a>
                <a class="nav-item nav-link" id="nav-course-tab" data-toggle="tab" href="#nav-course" role="tab" aria-controls="nav-course" aria-selected="false">Mon parcours</a>
                <a class="nav-item nav-link" id="nav-project-tab" data-toggle="tab" href="#nav-project" role="tab" aria-controls="nav-project" aria-selected="false">Mes projets</a>
                <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">A propos</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                <h1 class="text-center">Mes infos</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>Code Postal</th>
                        <th>Ville</th>
                        <th>Email</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for my_info in my_infos %}
                        <tr>
                            <td>{{ my_info.firstName }}</td>
                            <td>{{ my_info.lastName }}</td>
                            <td>{{ my_info.address }}</td>
                            <td>{{ my_info.postalCode }}</td>
                            <td>{{ my_info.town }}</td>
                            <td>{{ my_info.email }}</td>
                            <td>
                                <a href="{{ path('my_info_edit', {'id': my_info.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">Aucune informations</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="tab-pane fade" id="nav-competence" role="tabpanel" aria-labelledby="nav-competence-tab">
                <h1 class="text-center">Mes compétences</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Contenu</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for competence_cv in competence_cvs %}
                        <tr>
                            <td>{{ competence_cv.title }}</td>
                            <td>{{ competence_cv.content }}</td>
                            <td>
                                <a href="{{ path('competence_cv_edit', {'id': competence_cv.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucune donnée</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
<div class="text-center">
                <a href="{{ path('competence_cv_new') }}" class="btn btn-primary">Nouvelle compétence</a><br>
</div>
            </div>
            <div class="tab-pane fade" id="nav-course" role="tabpanel" aria-labelledby="nav-course-tab">
                <h1 class="text-center">Mon parcours</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date début</th>
                        <th>Date fin</th>
                        <th>Titre</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course_cv in course_cvs %}
                        <tr>
                            <td>{{ course_cv.dateStart }}</td>
                            <td>{{ course_cv.dateEnd }}</td>
                            <td>{{ course_cv.title }}</td>
                            <td>
                                <a href="{{ path('course_cv_edit', {'id': course_cv.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Aucune date enregistré</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
<div class="text-center">
                <a href="{{ path('course_cv_new') }}" class="btn btn-primary">Nouvelle date</a><br>
</div>
            </div>
            <div class="tab-pane fade" id="nav-project" role="tabpanel" aria-labelledby="nav-project-tab">
                <h1 class="text-center">Mes projets</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Titre</th>
                        <th>URL</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                        <tr>
                            <td><img src="img/portfolio/{{ project.imageFilename }}" alt="" class="h-50 w-50"></td>
                            <td>{{ project.title }}</td>
                            <td>{{ project.url }}</td>
                            <td>
                                <a href="{{ path('project_edit', {'id': project.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Aucun projet enregistré</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        <div class="text-center">
                <a href="{{ path('add_project') }}" class="btn btn-primary">Nouveau projet</a><br>
        </div>
            </div>
            <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
            <h1 class="text-center">A propos</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Contenu</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for about_content in about_contents %}
                    <tr>
                        <td>{{ about_content.content }}</td>
                        <td>
                            <a href="{{ path('about_content_edit', {'id': about_content.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Rien d'enregistrer</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <div class="text-center">
            <a href="{{ path('about_content_new') }}" class="btn btn-primary">Nouveau contenu</a><br>
        </div>
            </div>
        </div>

{% endblock %}