{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="../{{ asset('fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="../{{ asset('css/freelancer.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}



    {{ form_start(competenceForm) }}
    {{ form_row(competenceForm.title)}}
    {{ form_row(competenceForm.content) }}


    <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(competenceForm) }}
{% endblock %}