{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="../{{ asset('fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="../{{ asset('css/freelancer.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}



    {{ form_start(courseCvForm) }}
    {{ form_row(courseCvForm.date_start)}}
    {{ form_row(courseCvForm.date_end) }}
    {{ form_row(courseCvForm.title) }}

    <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(courseCvForm) }}
{% endblock %}